# WARNING! This file has been manually edited while I try to sort out
# https://github.com/vim-awesome/vim-awesome/issues/324
blinker==1.4              # via raven
coloredlogs==15.0         # via executor, rotate-backups
configparser==3.5.0b2     # via -r requirements.in
contextlib2==0.5.1        # via raven
executor==23.2            # via rotate-backups
fasteners==0.16           # via executor
flask-cache==0.12         # via -r requirements.in
flask==0.10.1             # via -r requirements.in, flask-cache, raven
html5lib==1.0b1           # via -r requirements.in
humanfriendly==9.1        # via coloredlogs, executor, property-manager, rotate-backups
itsdangerous==0.24        # via flask
jinja2==2.10.1            # via flask
lxml==3.5.0               # via -r requirements.in
markupsafe==0.23          # via jinja2
naturalsort==1.5.1        # via rotate-backups
pluggy==0.3.1             # via tox
property-manager==3.0     # via executor, rotate-backups
py==1.4.31                # via tox
python-dateutil==2.5.0    # via -r requirements.in, rotate-backups
python-slugify==0.0.6     # via -r requirements.in
pyyaml==3.11              # via -r requirements.in
raven[flask]==5.12.0      # via -r requirements.in
requests==2.9.1           # via -r requirements.in
rethinkdb==2.3.0.post1    # via -r requirements.in
rotate-backups==4.2       # via -r requirements.in
simpleeval==0.9.10        # via rotate-backups
six==1.10.0               # via executor, html5lib, python-dateutil, rotate-backups
termcolor==1.1.0          # via -r requirements.in
tox==2.3.1                # via -r requirements.in
unidecode==0.4.19         # via python-slugify
verboselogs==1.7          # via property-manager, rotate-backups
virtualenv==15.0.1        # via tox
werkzeug==0.11.4          # via flask
